.hidden {
  display: none;
}

.background-container {
  width:100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(19,77,113,1) 20%, rgba(120,167,198,1) 80%, rgba(247,228,191,1) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.self-care-center {
  display: flex;
  margin: 80px;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  color: #ffffff;
}

.wrapper-container {
  width: 100%;
  min-height: fit-content;
}

.message-type {
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  color: #ffffff;
  padding-bottom: 10px;
}

.wrapper-genres {
  display: flex;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  background-color: #ffffff;
}

.wrapper-radio {
  display: flex;
  min-height: 75px;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.wrapper-affirmation {
  display: flex;
  height: 17px;
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  align-items: center;
  transform: scale(2, 2);
}
input {
  margin: 1rem;
}

.wrapper-mantra {
  display: flex;
  height:17px;
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  align-items: center;
  transform: scale(2, 2);
}

.button {
  display: flex;
  align-content: space-around;
  line-height: 1.5;
  border-radius: 6px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #134d71;
  color: #ffffff;
  border: 0;
  justify-content: center;
  width: 50%;
}

.form-container {
  width: 100%;
  min-height: 150px;
  align-content: space-around;
}

.input-message-or-icon {
  display: flex;
  margin: 80px auto;
  min-height: 190px;
  width: 70%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
}

.message-goes-here {
  display: flex;
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
}

.meditate-image {
  width: 10%;
}
